[submodule "Packages/SASPackages-Utilities"]
	path = Packages/SASPackages-Utilities
	url = https://github.com/SAS-Games/SASPackages-Utilities.git
[submodule "Packages/SASPackages-StateMachine"]
	path = Packages/SASPackages-StateMachine
	url = https://github.com/SAS-Games/SASPackages-StateMachine.git
[submodule "Packages/SAS-ScriptableTypes"]
	path = Packages/SAS-ScriptableTypes
	url = https://github.com/SAS-Games/SAS-ScriptableTypes.git
[submodule "Packages/SASPackage-DevUtilities"]
	path = Packages/SASPackage-DevUtilities
	url = https://github.com/SAS-Games/SASPackage-DevUtilities.git
